.filter {
  width: 100%;
  padding: 40px 0px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  width: 20px;
  margin-left: 10px;
}

select,
input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.filter-select,
.filter-input {
  height: 5vh;
  border-radius: 5px;
  padding: 5px;
  text-transform: capitalize;
}

.filter-select {
  width: 10vw;
}

.filter-input {
  width: 30vw;
}

option {
  text-transform: capitalize;
}

input::placeholder .f-theme-dark {
  color: var(--dark-theme-text-color);
}

input::placeholder .f-theme-light {
  color: var(--light-theme-text-color);
}

.f-theme-dark {
  background-color: var(--dark-theme-element-bg-color);
  color: var(--dark-theme-text-color);
  box-shadow: 0 3px 15px var(--theme-shadow-color);
}

.f-theme-light {
  background-color: var(--light-theme-element-color);
  color: var(--light-theme-text-color);
  box-shadow: 0 3px 15px var(--theme-shadow-color);
}
