.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: left;
  width: 300px;
  overflow: hidden;
}

.ca-theme-dark {
  background-color: var(--dark-theme-element-bg-color);
  box-shadow: 0 3px 15px var(--theme-shadow-color);
}

.ca-theme-light {
  background-color: var(--light-theme-element-color);
  box-shadow: 0 3px 15px var(--theme-shadow-color);
}

.card-image-container {
  height: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  padding: 0px 20px 40px;
}
