.header {
  padding: 30px 80px;
  width: 100vw;
}

.theme-dark {
  background-color: var(--dark-theme-element-bg-color);
  color: var(--dark-theme-text-color);
  box-shadow: 0 3px 15px var(--theme-shadow-color);
}

.theme-light {
  background-color: var(--light-theme-element-color);
  color: var(--light-theme-text-color);
  box-shadow: 0 3px 15px var(--theme-shadow-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-toggle-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 20px;
}

.header-button-text {
  text-transform: capitalize;
  font-weight: 600;
}
