.app {
  display: flex;
  flex-direction: column;
}

.theme-dark {
  background-color: var(--dark-theme-bg-color);
  color: var(--dark-theme-text-color);
}

.theme-light {
  background-color: var(--light-theme-bg-color);
  color: var(--light-theme-text-color);
}

.app-body {
  padding: 0 80px;
}
